@using System.Collections

@{
    ViewBag.Title = "Enrollment";
}
<script>
    $(document).ready(function () {
        $("#btnEnroll").click(function () {
            //debugger;
            $.ajax(
                {
                    type: "POST",
                    url:  "Enrollment",
                    data: {
                        studentId: $("#ddstudent").val(),
                        courseId:  $("#ddcourse").val()
                    }
                });
        });
    });
</script>
@section Menu{

        @Html.ActionLink("List", "Index")<br />
    }
    <div class="form-horizontal">
        <h6>Enrollment</h6>
        <hr />
        @Html.Label("Student List")
        @Html.DropDownList("Student", (IEnumerable<SelectListItem>)ViewBag.students, "select student", new { Id = "ddstudent"  })
        <br/>
        @Html.Label("Available Course")
        @Html.DropDownList("courses", null, "select course", new { Id = "ddcourse" })

    </div>
    <div class="form-group">
        <button type="submit" id="btnEnroll" class="btn btn-primary">Add Course</button>
    </div>


