@model IEnumerable<SchoolSystem.MVC.Models.Instructor>
    <div id="tblContainer">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Course)
                </th>
                <th>Admin Panel</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=>item.Course)
                    </td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.InstructorId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.InstructorId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.InstructorId })
                    </td>
                </tr>
            }

        </table>
    </div>