@using PagedList
@using PagedList.Mvc

@model IPagedList<SchoolSystem.MVC.Models.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@Html.ActionLink("Add Department", "Create")</p>
<table class="table">
    <tr>
        <th>@Html.DisplayName("Department")</th>
        <th>@Html.DisplayName("Capacity")</th>
        <th>Admin Panel</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
            <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", "Department", new { page }))
